---
layout: default
---

<div class="home">
  <h1>Welcome to My Website!</h1>

  <hr>

  <section>
    <h2>Physics Stuff</h2>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains 'physics' %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <hr>

  <section>
    <h2>Math Stuff</h2>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains 'math' %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
