---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section>
    <h2>Physics Stuff</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains 'physics' -%}
          <li>
            <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.excerpt }}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </section>

  <section>
    <h2>Math Stuff</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains 'math' -%}
          <li>
            <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.excerpt }}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </section>

  <section>
    <h2>Other Stuff</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- unless post.categories contains 'physics' or post.categories contains 'math' -%}
          <li>
            <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.excerpt }}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </section>
</div>
